<div
  x-data
  x-cloak
  class="header__underlay-mobile"
  :class="{
    active: $store.main.isNavOpen || $store.main.isMobileNavOpen || $store.main.isSearchOpen,
    search: $store.main.isSearchOpen
  }"
  @click="$store.main.closeMenus()"
  @mouseover="$store.main.setDesktopHeaderOpened(false)"
></div>

<div class="flex-1 tablet:hidden flex flex-row items-center h-full px-4 z-10 relative">
  <div class="flex-1">
    <button
      id="hamburger-icon"
      @click="$store.main.toggleMobileNav()"
      type="button"
    >
      <svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="0.5" x2="21" y2="0.5" stroke="currentColor"/>
        <line y1="10.5" x2="21" y2="10.5" stroke="currentColor"/>
      </svg>
    </button>
  </div>
  <a href="/">
    <svg width="101" height="36" viewBox="0 0 101 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.73564 35.757H10.5274V32.113H11.5982V31.4741H8.62891V32.113H9.73564V35.757Z" fill="currentColor"/>
      <path d="M16.9687 35.1092H15.1422V33.8496H16.5548V33.1747H15.1422V32.113H16.9687V31.4742H14.3594V35.7571H16.9687V35.1092Z" fill="currentColor"/>
      <path d="M21.6675 31.4742H20.9836C20.6507 32.392 20.2998 33.3187 19.9489 34.2365C19.76 34.7493 19.562 35.2532 19.373 35.7571H20.1199L20.4528 34.8483H22.1983L22.5313 35.7571H23.2781L21.6675 31.4742ZM20.7047 34.1825L21.3345 32.5269L21.9464 34.1825H20.7047Z" fill="currentColor"/>
      <path d="M40.7418 33.5796L40.5798 33.4987L40.7328 33.3997C40.9938 33.2197 41.1647 32.9228 41.1647 32.6439C41.1647 32.086 40.6878 31.4742 39.6531 31.4742H38.1055V35.7571H39.6621C40.6788 35.7571 41.3357 35.2622 41.3357 34.4884C41.3357 34.1915 41.1557 33.7866 40.7508 33.5796H40.7418ZM38.8883 32.113H39.5451C40.2469 32.113 40.3549 32.4639 40.3549 32.6709C40.3549 32.8778 40.2469 33.2287 39.5451 33.2287H38.8883V32.122V32.113ZM39.5811 35.1092H38.8883V33.8676H39.5811C40.3009 33.8676 40.4539 34.2005 40.4539 34.4704C40.4539 34.7044 40.3369 35.1003 39.5811 35.1003V35.1092Z" fill="currentColor"/>
      <path d="M47.5271 33.5797C47.5271 32.347 46.7173 31.4202 45.6376 31.4202C44.3959 31.4202 43.748 32.509 43.748 33.5797C43.748 34.9024 44.5219 35.8201 45.6376 35.8201C46.7533 35.8201 47.5271 34.8754 47.5271 33.5797ZM44.6118 33.5797C44.6118 32.6889 45.0167 32.1131 45.6376 32.1131C46.2584 32.1131 46.6633 32.7159 46.6633 33.5797C46.6633 34.4435 46.2404 35.1093 45.6376 35.1093C45.0347 35.1093 44.6118 34.5065 44.6118 33.5797Z" fill="currentColor"/>
      <path d="M50.847 35.7571H51.6388V32.113H52.7095V31.4742H49.7402V32.113H50.847V35.7571Z" fill="currentColor"/>
      <path d="M56.3626 31.4742C56.0386 32.365 55.6877 33.2737 55.3458 34.1735C55.1479 34.7044 54.9409 35.2352 54.752 35.7571H55.4988L55.8317 34.8483H57.5772L57.9102 35.7571H58.657L57.0464 31.4742H56.3626ZM56.0836 34.1825L56.7135 32.5269L57.3253 34.1825H56.0836Z" fill="currentColor"/>
      <path d="M63.3891 34.1554L61.8055 31.4741H60.9688V35.757H61.7515V32.8508L63.4521 35.757H64.1899V31.4741H63.3891V34.1554Z" fill="currentColor"/>
      <path d="M68.0133 31.4742H67.2305V35.7571H68.0133V31.4742Z" fill="currentColor"/>
      <path d="M74.2152 34.9561L73.6304 34.5782C73.4774 34.9381 73.1625 35.1361 72.7306 35.1361C72.0648 35.1361 71.6599 34.5782 71.6599 33.6515C71.6599 32.7247 72.0648 32.1848 72.6946 32.1848C73.0635 32.1848 73.3515 32.3288 73.5404 32.6167L74.1163 32.1398C73.7923 31.681 73.2975 31.429 72.7036 31.429C71.5069 31.429 70.7871 32.5897 70.7871 33.7054C70.7871 34.7492 71.4709 35.8379 72.6136 35.8379C73.3335 35.8379 73.8553 35.55 74.2062 34.9561H74.2152Z" fill="currentColor"/>
      <path d="M79.0812 34.8483L79.4141 35.7571H80.1609L78.5503 31.4742H77.8665C77.5335 32.365 77.1916 33.2737 76.8497 34.1735C76.6518 34.7044 76.4448 35.2352 76.2559 35.7571H77.0027L77.3356 34.8483H79.0812ZM78.2174 32.5359L78.8292 34.1915H77.5875L78.2174 32.5359Z" fill="currentColor"/>
      <path d="M83.4019 31.4742H82.6191V35.7571H85.2285V35.1092H83.4019V31.4742Z" fill="currentColor"/>
      <path d="M89.1862 33.2375C88.6553 32.9946 88.4304 32.7786 88.4304 32.5267C88.4304 32.2747 88.6283 32.0228 89.0602 32.0228C89.4111 32.0228 89.7171 32.1847 89.951 32.4907L90.4729 32.0228C90.149 31.6269 89.6451 31.4109 89.0512 31.4109C88.2144 31.4109 87.6116 31.8788 87.6116 32.5267C87.6116 33.2195 88.2504 33.5254 88.9253 33.8583L88.9882 33.8853C89.5011 34.1463 89.7351 34.3712 89.7351 34.6321C89.7351 34.9381 89.4291 35.181 89.0512 35.181C88.6733 35.181 88.2504 34.974 88.0075 34.6591L87.4316 35.136C87.7556 35.5499 88.3674 35.8198 88.9972 35.8198C89.897 35.8198 90.5808 35.307 90.5808 34.6321C90.5808 33.9573 89.951 33.5974 89.1862 33.2375Z" fill="currentColor"/>
      <path d="M31.681 34.6054C31.681 34.2815 31.915 34.0205 32.2029 34.0205C32.2299 34.0205 32.2569 34.0205 32.2839 34.0205L32.1399 33.2377C31.861 33.2467 31.6001 33.3457 31.3841 33.5257L31.3391 33.5616L31.1682 33.3727L31.2041 33.3277C31.4201 33.0848 31.5371 32.8058 31.5371 32.5089C31.5371 31.8161 30.9162 31.2402 30.1784 31.2402C29.4406 31.2402 28.8288 31.7981 28.8288 32.5089C28.8288 32.8148 28.9367 33.0938 29.1527 33.3277L29.1977 33.3727L29.1527 33.4177C28.8287 33.7236 28.6758 34.0745 28.6758 34.5064C28.6758 35.3432 29.3326 36 30.1784 36C30.6013 36 30.9522 35.8651 31.2222 35.5951L31.2671 35.5502L31.3121 35.5951C31.5461 35.8291 31.816 35.946 32.1489 35.955L32.2929 35.1722C32.2929 35.1722 32.2299 35.1812 32.1939 35.1812C31.906 35.1812 31.681 34.9293 31.681 34.6054ZM30.1784 31.8881C30.4933 31.8881 30.7453 32.158 30.7453 32.4909C30.7453 32.8238 30.4933 33.0938 30.1784 33.0938C29.8635 33.0938 29.6116 32.8238 29.6116 32.4909C29.6116 32.158 29.8635 31.8881 30.1784 31.8881ZM30.1784 35.2442C29.8095 35.2442 29.5216 34.9203 29.5216 34.5064C29.5216 34.0925 29.8185 33.7686 30.1784 33.7686C30.5923 33.7686 30.8353 34.1465 30.8353 34.5064C30.8353 34.9293 30.5563 35.2442 30.1784 35.2442Z" fill="currentColor"/>
      <path d="M20.047 21.6937C20.047 21.6937 18.8593 21.2078 17.6626 19.4443C13.5326 13.3618 12.9927 12.552 12.9118 12.4441C12.9118 12.4441 12.9118 12.4261 12.9208 12.4261L13.9915 12.1381C16.7538 11.3463 18.4544 9.11491 18.4544 6.36161C18.4544 2.8255 15.6381 0.252136 11.751 0.252136H0C0.179955 0.648037 0.305916 1.06194 0.386896 1.49383C0.467876 1.91672 0.512886 2.33961 0.521884 2.75351C0.530882 3.14041 0.53987 3.48232 0.53987 3.78824V18.1486C0.53987 18.4545 0.539879 18.7965 0.521884 19.1834C0.512886 19.5973 0.467876 20.0202 0.386896 20.4431C0.305916 20.8749 0.179955 21.2888 0 21.6847H2.07847C1.89852 21.2888 1.77256 20.8749 1.69158 20.4431C1.6106 20.0202 1.56562 19.5973 1.55662 19.1834C1.54762 18.7965 1.53861 18.4545 1.53861 18.1486L1.5656 12.624C1.5656 12.516 1.65558 12.4261 1.76355 12.4261H11.6431C11.7061 12.4261 11.769 12.4531 11.805 12.507C12.3089 13.2539 15.944 18.6795 16.6548 19.7232C17.4196 20.8479 17.7705 21.6847 17.7705 21.6847H20.038L20.047 21.6937ZM1.54761 11.3643V1.25988C1.54761 1.1879 1.61059 1.12492 1.68257 1.12492H11.6611C15.0712 1.12492 17.4556 3.27538 17.4556 6.36161C17.4556 9.44783 15.0712 11.5623 11.6611 11.5623H1.74556C1.63759 11.5623 1.54761 11.4723 1.54761 11.3643Z" fill="currentColor"/>
      <path d="M29.0453 19.1921C29.0363 19.606 28.9913 20.029 28.9103 20.4518C28.8294 20.8837 28.7034 21.2976 28.5234 21.6935H30.6019C30.422 21.2976 30.296 20.8837 30.215 20.4518C30.134 20.029 30.089 19.606 30.08 19.1921C30.071 18.8052 30.062 18.4633 30.062 18.1574V3.79703C30.062 3.49111 30.062 3.1492 30.08 2.76229C30.089 2.3484 30.134 1.92548 30.215 1.50259C30.296 1.0707 30.422 0.656826 30.6019 0.260925H28.5234C28.7034 0.656826 28.8294 1.0707 28.9103 1.50259C28.9913 1.92548 29.0363 2.3484 29.0453 2.76229C29.0543 3.1492 29.0633 3.49111 29.0633 3.79703V18.1574C29.0633 18.4633 29.0633 18.8052 29.0453 19.1921Z" fill="currentColor"/>
      <path d="M85.8556 2.75351C85.8646 3.14041 85.8736 3.48232 85.8736 3.78824V10.0867C85.8736 10.1496 85.8196 10.2036 85.7566 10.2036H69.5247C69.4618 10.2036 69.4078 10.1496 69.4078 10.0867V3.78824C69.4078 3.48232 69.4078 3.14041 69.4258 2.75351C69.4348 2.33961 69.4797 1.91672 69.5607 1.49383C69.6417 1.06194 69.7677 0.648037 69.9476 0.252136H67.8691C68.0491 0.648037 68.1751 1.06194 68.2561 1.49383C68.337 1.91672 68.382 2.33961 68.391 2.75351C68.4 3.14041 68.409 3.48232 68.409 3.78824V18.1486C68.409 18.4545 68.409 18.7965 68.391 19.1834C68.382 19.5973 68.337 20.0202 68.2561 20.4431C68.1751 20.8749 68.0491 21.2888 67.8691 21.6847H69.9476C69.7677 21.2888 69.6417 20.8749 69.5607 20.4431C69.4797 20.0202 69.4348 19.5973 69.4258 19.1834C69.4168 18.7965 69.4078 18.4545 69.4078 18.1486V11.1934C69.4078 11.1304 69.4618 11.0764 69.5247 11.0764H85.7566C85.8196 11.0764 85.8736 11.1304 85.8736 11.1934V18.1486C85.8736 18.4545 85.8736 18.7965 85.8556 19.1834C85.8466 19.5973 85.8017 20.0202 85.7207 20.4431C85.6397 20.8749 85.5137 21.2888 85.3337 21.6847H87.4122C87.2323 21.2888 87.1063 20.8749 87.0253 20.4431C86.9443 20.0202 86.8994 19.5973 86.8904 19.1834C86.8814 18.7965 86.8724 18.4545 86.8724 18.1486V3.78824C86.8724 3.48232 86.8724 3.14041 86.8904 2.75351C86.8994 2.33961 86.9443 1.91672 87.0253 1.49383C87.1063 1.06194 87.2323 0.648037 87.4122 0.252136H85.3337C85.5137 0.648037 85.6397 1.06194 85.7207 1.49383C85.8017 1.91672 85.8466 2.33961 85.8556 2.75351Z" fill="currentColor"/>
      <path d="M40.4278 17.3206L39.8789 18.7333C40.6797 19.3721 41.5525 19.93 42.4613 20.3978C44.7647 21.5766 47.329 22.1794 50.0733 22.1794C55.256 22.1794 58.8731 19.795 58.8731 16.3849C58.8731 12.9747 56.0748 11.0132 49.8034 10.4644C47.8059 10.2934 41.7145 9.4746 41.7145 5.57858C41.7145 3.30215 44.5037 0.935772 49.1646 0.935772C52.1518 0.935772 55.382 1.97051 57.4425 3.77005L57.9284 2.46537C55.364 0.845778 52.3408 0 49.1736 0C44.4677 0 40.7787 2.45637 40.7787 5.58759C40.7787 8.98873 43.7119 10.8963 49.7404 11.4181C56.9656 12.048 57.9374 14.7563 57.9374 16.3939C57.9374 19.2462 54.7072 21.1267 50.0913 21.1267C44.1348 21.1267 41.1116 18.3464 40.4458 17.3386L40.4278 17.3206Z" fill="currentColor"/>
      <path d="M98.5883 19.1921C98.5793 19.606 98.5343 20.029 98.4533 20.4518C98.3724 20.8837 98.2464 21.2976 98.0664 21.6935H100.145C99.965 21.2976 99.839 20.8837 99.758 20.4518C99.677 20.029 99.632 19.606 99.623 19.1921C99.614 18.8052 99.605 18.4633 99.605 18.1574V3.79703C99.605 3.49111 99.605 3.1492 99.623 2.76229C99.632 2.3484 99.677 1.92548 99.758 1.50259C99.839 1.0707 99.965 0.656826 100.145 0.260925H98.0664C98.2464 0.656826 98.3724 1.0707 98.4533 1.50259C98.5343 1.92548 98.5793 2.3484 98.5883 2.76229C98.5973 3.1492 98.6063 3.49111 98.6063 3.79703V18.1574C98.6063 18.4633 98.6063 18.8052 98.5883 19.1921Z" fill="currentColor"/>
    </svg>
  </a>
  <div class="flex-1 flex items-center gap-4 justify-end">
    <button
      class="hidden"
      type="button"
      @click="$store.main.setSearchOpen(!$store.main.isSearchOpen)"
    >
      <svg x-show="!$store.main.isSearchOpen" width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.2143 7.71429C16.2143 9.74741 15.6089 11.5387 14.3586 12.8199C13.1117 14.0976 11.1641 14.9286 8.35714 14.9286C5.55021 14.9286 3.60262 14.0976 2.35572 12.8199C1.10539 11.5387 0.5 9.74741 0.5 7.71429C0.5 5.67598 1.0822 3.88573 2.31822 2.60695C3.55027 1.33228 5.49565 0.5 8.35714 0.5C11.2186 0.5 13.164 1.33228 14.3961 2.60695C15.6321 3.88573 16.2143 5.67598 16.2143 7.71429Z" stroke="currentColor"/>
        <line x1="13.2479" y1="13.8305" x2="18.3907" y2="20.259" stroke="currentColor"/>
      </svg>

      <svg x-cloak x-show="$store.main.isSearchOpen" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1282_7157)">
        <path d="M21.0938 5.90625L5.90625 21.0938" stroke="#283645"/>
        <path d="M21.0938 21.0938L5.90625 5.90625" stroke="#283645"/>
        </g>
        <defs>
        <clipPath id="clip0_1282_7157">
        <rect width="27" height="27" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </button>

    <button
      class="-mt-1 mobile-customer-icon"
      type="button"
      >
      {% if customer %}
        <a
          class="uppercase gap-1.5 tracking-2pc text-sm px-3 py-1.5 rounded-full transition-colors duration-300"
          href="/a/account/login"
        >
          <?xml version="1.0" encoding="UTF-8"?>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.62 24.62">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                  stroke-miterlimit: 10;
                  stroke-width: 1.25px;
                }
              </style>
            </defs>
            <circle stroke="currentColor" class="cls-1" cx="12.31" cy="12.31" r="11.68"/>
            <path stroke="currentColor" class="cls-1" d="M20.48,20.6c0-1.68-2.49-3.18-5.24-3.71,0,0-1.06-.18-.53-1.25.53-.8.97-1.78.97-2.05,0,0,.88-.79.97-1.86.09-1.06-.17-1.14-.17-1.14.35-1.15.52-5.69-2.41-5.16-.27-.49-1.14-.9-2.13-.89s-2.12.45-2.83,1.69c-.71,1.33-.89,3.01-.36,4.43-.09.09-.16-.09-.25.53-.09.62.26,1.5.53,1.94.09.18.35.27.44.44,0,0,.17,1.07,1.05,2.13.18.8-.61,1.25-.61,1.25-2.75.53-5.39,2.38-5.39,4.06"/>
          </svg>
        </a>
      {% else %}
        <a
          class="uppercase gap-1.5 tracking-2pc text-sm px-3 py-1.5 rounded-full transition-colors duration-300"
          href="/a/account/login"
        >
          <?xml version="1.0" encoding="UTF-8"?>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.62 24.62">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                  
                  stroke-miterlimit: 10;
                  stroke-width: 1.25px;
                }
              </style>
            </defs>
            <circle stroke="currentColor" class="cls-1" cx="12.31" cy="12.31" r="11.68"/>
            <path stroke="currentColor" class="cls-1" d="M20.48,20.6c0-1.68-2.49-3.18-5.24-3.71,0,0-1.06-.18-.53-1.25.53-.8.97-1.78.97-2.05,0,0,.88-.79.97-1.86.09-1.06-.17-1.14-.17-1.14.35-1.15.52-5.69-2.41-5.16-.27-.49-1.14-.9-2.13-.89s-2.12.45-2.83,1.69c-.71,1.33-.89,3.01-.36,4.43-.09.09-.16-.09-.25.53-.09.62.26,1.5.53,1.94.09.18.35.27.44.44,0,0,.17,1.07,1.05,2.13.18.8-.61,1.25-.61,1.25-2.75.53-5.39,2.38-5.39,4.06"/>
          </svg>
        </a>
      {% endif %}
    </button>
    
    <button
      class="-mt-1 mobile-cart-icon"
      @click="$store.main.setMiniCartOpen(true)"
      type="button"
    >
      <?xml version="1.0" encoding="UTF-8"?>
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.25 23.4">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 1.25px;
            }
          </style>
        </defs>
        <path stroke="currentColor" class="cls-1" d="M6.62,10.69v-6.04c0-2.22,1.79-4.03,4-4.03s4,1.8,4,4.03v6.04"/>
        <path stroke="currentColor" class="cls-1" d="M17.84,22.78c1.54,0,2.79-1.26,2.79-2.81,0-.14-.01-.29-.03-.43l-1.66-10.89c-.17-1.15-1.15-1.99-2.3-1.99H4.63c-1.15,0-2.13.85-2.3,1.99l-1.66,10.9c-.02.14-.03.28-.03.43,0,1.55,1.25,2.8,2.79,2.8h14.43Z"/>
      </svg>
    </button>
  </div>
</div>

<style>
  .mobile-customer-icon svg{
    width: 22px;
    margin-top: 2px;
}

button.-mt-1.mobile-cart-icon svg{
    width: 20px;
}
</style>
