{% assign padding_bottom = data.padding_bottom | downcase %}

{% if padding_bottom == blank %}
  {% assign padding_bottom = "medium" %}
{% endif %}

{% if data.collection != blank %}
  {% assign products = data.collection.value.products %}
  {% else %}
    {% assign products = data.products.value %}
{% endif %}

<section>
  <div
    x-data="{ fadeIn: false }"
    class="grid grid-cols-12 w-full lg:px-6 overflow-x-hidden transition-opacity duration-[1100ms] ease section-p-b {{ padding_bottom }}"
    x-intersect.threshold.10="fadeIn = true"
    :class="fadeIn ? 'animate-fade-in' : 'opacity-0'"
  >
    <div class="col-span-12 xl:col-span-4 flex flex-col px-3 lg:pr-0">
      <h6 class="para-xs pb-4 indent-15 md:indent-30">{{ data.eyebrow }}</h6>
      <h4 class="heading-md hidden xl:flex indent-15 md:indent-30">{{ data.heading | newline_to_br }}</h4>
      <h4 class="heading-md xl:hidden mb-12 indent-15 md:indent-30">{{ data.heading_mobile | newline_to_br }}</h4>
    </div>
    <div class="col-span-12 xl:col-span-8 flex">
      <div class="flex flex-no-wrap overflow-x-scroll snap-x snap-mandatory scrollbar scrollbar-none lg:grid lg:grid-cols-3 lg:overflow-hidden lg:gap-4 lg:gap-6">
        {% for product in products %}
          <div class="snap-start h-full">
            <div class="h-full min-w-[60vw] lg:min-w-[0] {% if forloop.first %} ml-3 lg:ml-0 {% elsif forloop.index == 3 %} ml-4 mr-3 lg:mx-0 {% else %} ml-4 lg:ml-0 {% endif %}">
              {% render 'product__card', product: product, classes: '' %}
            </div>
          </div>
          {% if forloop.index > 3 %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>