<section
  class="px-7 section-container flex flex-col lg:flex-row transition-opacity duration-[1100ms] ease section-p-b small overflow-x-hidden"
  x-data="{ fadeIn: false }"
  x-intersect.threshold.10="fadeIn = true"
>
  {% assign textDesktop = data.text | metafield_tag %}
  {% assign textMobile = data.text_mobile | metafield_tag %}
  <div class="style-heading rte md:max-w-[924px] mx-auto indent ">
    {{ textDesktop }}
  </div>
</section>

<style>
    .style-heading h2{
      font-size: 52px;
          line-height: 1;
          letter-spacing: .01em;
      font-family: ivypresto-headline, ui-serif, serif;
          font-weight: 100;
  }

  .style-heading h2 {
    text-indent: 60px;
  }

  @media(max-width: 768px){
      .style-heading h2{
      font-size: 38px;
      }
  }
</style>
