<div
  class="lg:hidden fixed w-full px-4 pb-4 bottom-0 left-0 right-0 z-10 transform transition-all duration-300 ease-in-out bg-light"
  x-cloak
  :class="{
    'translate-y-0': showStickyAtc && !$store.main.footerInView,
    'translate-y-full': !showStickyAtc || $store.main.footerInView,
  }"
  x-data="{
    optionsOpen: false,
    handleOpenOptions() {
      this.optionsOpen = !this.optionsOpen
    },
  }"
>
  <div class="min-h-[72px] w-full flex flex-col rounded-4 z-20">
    <div class="flex flex-col p-2">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          {%- capture optionIndex -%}option{{ forloop.index }}{%- endcapture -%}
          <div class="flex items-center justify-between w-full py-3.5">
            <label class="para-xs mr-7 text-dark/50 ">{{ option.name }}</label>
            <button class="flex items-center gap-x-1.5" @click="handleOpenOptions">
              <span style="font-size: 15px" class="leading-1.5 tracking-2pc" x-text="reactiveData.activeVariant.optionValues[0]"></span>
              <span class="transform transition duration-200" :class="optionsOpen ? 'rotate-180' : ''">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" viewBox="0 0 7 4" fill="none">
                  <path d="M3.5 3.5L7 0L0 -3.0598e-07L3.5 3.5Z" fill="#A88667"/>
                </svg>
              </span>
            </button>
          </div>
          <div
            x-show="optionsOpen"
            x-collapse
            x-cloak
            style="animation: fadeIn 500ms ease-in-out;"
          >
            <div class="flex flex-col gap-y-3 pb-4 pt-2">
              {%
                render 'product__option-selector-radio'
                product: product,
                activeVariant: activeVariant,
                optionIndex: optionIndex,
                option: option,
              %}
            </div>
          </div>
        {% endfor %}
      {% endunless %}
    </div>
    <div class="flex flex-1 xl:flex-initial 2xl:flex-1">
      <button
        class="button__atc sticky mobile w-full"
        x-data="{
          handleClick() {
            const button = document.querySelector('#gift-card-atc');
            button.click()
          }
        }"
        @click="handleClick()"
      >
        <span
          x-text="(reactiveData.activeVariant?.inventory < 1 && reactiveData.activeVariant?.oosStatus !== 'Pre Order') && reactiveData.activeVariant?.inventoryPolicy !== 'continue' ? 'Sold Out' : (reactiveData.activeVariant?.inventory < 1 && reactiveData.activeVariant?.oosStatus === 'Pre Order') ? 'Pre Order&nbsp;&nbsp;•&nbsp;&nbsp;' : 'Add to cart&nbsp;&nbsp;•&nbsp;&nbsp;'"></span></span>
        <span x-show="reactiveData.activeVariant?.inventory > 0 || reactiveData.activeVariant?.oosStatus === 'Pre Order' || reactiveData.activeVariant?.inventoryPolicy === 'continue'" x-price="reactiveData.activeVariant?.variantPrice" class="skio-product-price"></span>
      </button>
    </div>
  </div>
</div>
