

{% comment %} <div class='absolute bottom-[-22px] {% if last %} left-0 {% else %} left-14 {% endif %} hidden lg:flex justify-center items-center para-xs tracking-2pc font-[400] normal-case text-dark/75 border bg-white w-max h-[31px] px-2.5 border-brown/50 rounded-4 shadow-tooltip z-[-1] opacity-0 transition-opacity duration-[400ms] ease-in-out group-hover:opacity-100 group-hover:z-[100] group-hover:duration-[600ms]'>
  {{ tooltip.tip }}
</div> {% endcomment %}