<section
  class="section-p-x section-p-b {{ section.settings.padding_bottom }}"
  x-data="{ fadeIn: false }"
  x-intersect.threshold.10="fadeIn = true"
>
  <div class="relative flex gap-y-12 {% if section.settings.flip_orientation %} flex-col-reverse md:flex-row-reverse {% else %} flex-col md:flex-row {% endif %}">
    <div class="md:w-1/2 rte component">{{ section.settings.richtext }}</div>
    <div class="md:w-1/2 h-fit {% if section.settings.flip_orientation %} w-2/3 mr-auto {% if section.settings.horizontal_gap_size == 'large' %} md:pr-[17vw] {% else %} md:pr-[8.5vw] md:pt-8 {% endif %}{% else %} w-2/3 ml-auto {% if section.settings.horizontal_gap_size == 'large' %} md:pl-[17vw] {% else %} md:pl-[8.5vw] md:pt-8 {% endif %} {% endif %}">
      {% render 'image',
        image_desktop: section.settings.image,
        image_mobile: section.settings.image,
        width_desktop: '1000x',
        width_mobile: '800x',
        lazy: true,
        image_classes: 'rounded-4',
      %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image + RTE Split",
  "class": "section-image-rte-split",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "flip_orientation",
      "label": "Flip Orientation?",
      "default": false,
      "info": "If checked, the image and text orientation will be flipped"
    },
    {
      "type": "select",
      "id": "horizontal_gap_size",
      "label": "Horizontal Gap Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "info": "This indicates how much padding should be added to the bottom of the section.",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    }
  ],
  "presets": [
    {
      "name": "Image + RTE Split"
    }
  ]
}
{% endschema %}