<section
  class="section-p-x section-p-b {{ section.settings.padding_bottom }} relative"
  x-data="{ fadeIn: false }"
  x-intersect.threshold.10="fadeIn = true"
>
  <div class="flex flex-col gap-x-3 gap-y-12">
    {% for block in section.blocks %}
      {% assign classes = '' %}
      {% assign square = true %}
      {% if forloop.index == 1 %}
        {% assign classes = 'lg:ml-[8%] lg:max-w-[58%] lg:pb-[380px] flex flex-col lg:flex-row' %}
      {% elsif forloop.index == 2 %}
        {% assign classes = 'lg:absolute lg:right-[8%] lg:max-w-[34%] flex-col lg:top-[24%]' %}
        {% assign square = false %}
      {% else %}
        {% assign classes = 'lg:ml-[16%] lg:max-w-[42%] md:pb-35 flex-col' %}
      {% endif %}
      {% render 'collage-block',
        image: block.settings.image,
        copy: block.settings.copy,
        label_one: block.settings.label_one,
        label_two: block.settings.label_two,
        classes: classes,
        square: square
      %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Image Collage",
    "settings": [
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Bottom Padding",
        "info": "This indicates how much padding should be added to the bottom of the section.",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "copy",
            "label": "Copy",
            "info": "Font styles are enabled / font sizes are disabled."
          },
          {
            "type": "text",
            "id": "label_one",
            "label": "Label One"
          },
          {
            "type": "text",
            "id": "label_two",
            "label": "Label Two"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Collage",
        "category": "Components"
      }
    ]
  }
{% endschema %}