<div class="custom-app-block__wrapper w-full section-p-x section-p-b medium" style="animation: fadeIn 600ms ease-in-out">
  <div class="section-container flex flex-col gap-y-18 md:flex-row pt-12 md:pt-20 ">
    <div class="flex flex-col md:w-1/2">
      <div class="rte page md:max-w-[400px]">
        {{ section.settings.description }}
      </div>
    </div>
      <div class="flex justify-start text-sm md:w-1/2 custom-app-block__formul-form">
        <div class="custom-app-block__formul-form__inner xl:w-2/3">
          <h2 class="para-xs pb-3 pl-3">{{ section.settings.heading }}</h2>
          {% for block in section.blocks %}
            {% render block %}
          {% endfor %}
        </div>
      </div>
  </div>
</div>
{% schema %}
  {
    "name": "Formful App Wrapper",
    "settings": [
      {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
      {
      "type": "text",
      "id": "heading",
      "label": "Form Heading"
    }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "Formful App Wrapper"
      }
    ]
  }
{% endschema %}

<style>
  .custom-app-block__formul-form input:not([type="radio"]):not([type="checkbox"]), .s90308756 .cs-form-wrap select, .s90308756 .cs-form-wrap textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -o-outline: none;
    box-shadow: none;
    background-color: #fff;
    color: #222;
    border: 1px solid rgba(40, 54, 69, 0.5);
    width: 100%;
    font-family: arial;
    font-size: 14px;
    line-height: 1.5;
    padding: 25px 15px;
    box-sizing: border-box;
    border-radius: 3px;
}

.custom-app-block__formul-form input {
    font-family: neue-haas-grotesk-text!important;
    border-color: #28364580!important;
    transition: all .2s ease-in-out!important;
    font-size: 14px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 150%!important;
    letter-spacing: .56px!important;
}

.custom-app-block__formul-form__inner {
    /* width: 100%; */
}

.custom-app-block__formul-form .field {
    position: relative;
    padding-top: 20px;
}

.custom-app-block__formul-form label.field__label {
    position: absolute;
    left: 0;
    top: 0;
    font-family: neue-haas-grotesk-text!important;
    font-size: 12px!important;
    font-style: normal!important;
    font-weight: 400!important;
    letter-spacing: .56px!important;
    text-transform: uppercase!important;
}

.custom-app-block__formul-form .formful__wrapper.contact {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.custom-app-block__formul-form span.formful__asterisk {
    font-size: 14px;
    line-height: 1;
    color: red;
}

.custom-app-block__formul-form select {
    background-color: #fff;
    color: #283645;
    border: 1px solid rgba(40, 54, 69, 0.5);
    width: 100%;
    font-family: arial;
    font-size: 14px;
    line-height: 1.5;
    padding: 25px 15px;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: neue-haas-grotesk-text!important;
    border-color: #28364580!important;
    transition: all .2s ease-in-out!important;
    font-size: 14px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 150%!important;
    letter-spacing: .56px!important;
}

.custom-app-block__formul-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 10px center;
}

.custom-app-block__formul-form .formful__field-wrapper.formful__fullwidth label{
  font-family: neue-haas-grotesk-text!important;
    font-size: 12px!important;
    font-style: normal!important;
    font-weight: 400!important;
    letter-spacing: .56px!important;
    text-transform: uppercase!important;
}

.custom-app-block__formul-form .formful__radio-group{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.custom-app-block__formul-form .formful__radio-group label{
  display: flex;
 max-width: 200px;
}

.custom-app-block__formul-form fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

.custom-app-block__formul-form fieldset label{
  padding: 10px 0;
  padding-right: 20px;
}

.custom-app-block__formul-form textarea{
  height: 100px;
  appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -o-outline: none;
    box-shadow: none;
    background-color: #fff;
    color: #222;
    border: 1px solid rgba(40, 54, 69, 0.5);
    width: 100%;
    font-family: arial;
    font-size: 14px;
    line-height: 1.5;
    padding: 25px 15px;
    box-sizing: border-box;
    border-radius: 3px;
      max-width: 100%;
    min-height: 100px;
}

.custom-app-block__formul-form span.formful__button-label {
  display:inline-block;
  background-color: #283645!important;
  color: #fff!important;
  font-weight: 600!important;
  font-size: 12px!important;
  line-height: 40px !important;
  letter-spacing: .1em!important;
  border-radius: 4px!important;
  width: 100%;
  font-family: neue-haas-grotesk-display,sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #fff;
  border: 1px solid rgb(228, 228, 228);
}

.custom-app-block__formul-form button.formful__button.button {
  width: 100%;
}

  div#formful-thanks-message {
    font-size: 24px;
    line-height: 30px;
}
</style>