<div class="container">
  <h1 class="text-4xl text-center my-10">
    Page not found
  </h1>
</div>


{% schema %}
{
  "name": "t:sections.404.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
