{{ 'section-main-article.css' | asset_url | stylesheet_tag }}

<section class="section-p-x section-p-b medium">
  {%- render 'article__hero' -%}
</section>

{% schema %}
{
  "name": "t:sections.article.name",
  "tag": "article",
  "settings": []
}
{% endschema %}
